body {
    text-align: center;
}
h2 {
    display: inline-block;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
}
.scoreTotal, .livesTotal {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    color: white;
}
.container {
    border-width: 0.0625em;
    border-color:grey;
    border-radius: 0.25em;
    border-style: solid;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    background-color:#899ac1;
    max-width: 505px;
    margin: auto;
}